
<h1>We want to hear from you!</h1>

<div class="space-bottom-20">
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdeCMRVNpswrYe2T6THe_HgSuOe_n1K_NkGJAeS2Zom6cVBag/viewform">
        Click here
    </a> 
    to give feedback.
</div>

<div class="space-bottom-20">
    Have a bug to report?
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe2cmhgj3zHqR1FUIH0KbGkrkjzae2SRhEEiWKusrt_hBMVrg/viewform">
        Click here</a>.
</div>

<div>
    Got an idea for a Postcard? Submit it 
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfKJGct0KcR_uQtUoN_3_GoE0asqo474gS2QOsCEJKDZxs4xw/viewform?usp=sf_link">
        here</a>!
</div>