<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="InvitationOnly" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTHGRAV" xdt:Transform="SetAttributes(name)" />
    </authentication>
    <machineKey
      validationKey="31C5F9F87355D4ABC11F4D97307D53F0F13028CBD3D76647A33CBA643C565AC945ED53D7230502A0BC972D0C8F5193D91A08EF760E0224FED630F1519B22E2EC"
      decryptionKey="15FDAF15E3397CDE8001BE82C452A661324B8CF4942BC178A7D7A98877CC2BA3"
      validation="SHA1"
      decryption="AES"
      xdt:Transform="Insert" />
  </system.web>
</configuration>