<script type="text/x-template" id="footer-links-template">
    <div class="foot">
        <a href="Gravenger-about.html" class="linkly"><font size="2em">About</font></a>
        <a class="linkly" href="//therapists.psychologytoday.com/" target="_blank"><font size="2em">Support</font></a>
        <a target="_blank" class="linkly" href="//www.linkedin.com"><font size="2em">Careers</font></a><br /><a href="Gravenger-detlov-morton.html" class="linkly"><font size=2em>&copy; 2018 Gravenger Tech</font></a>
    </div>
</script>

<script type="text/javascript">
    Vue.component('footer-links', {
        template: '#footer-links-template',
        data: function () {
            return {
                
            }
        },
    });
</script>