
@{ Layout = "~/Views/_accountLayout.cshtml"; }

<div class="load-box">
    <h1>Reset Your Password</h1>
    
    <p>Your password was reset successfully.</p>

    <p><a href="@Url.Action("index")">Click here</a> to log in.</p>
</div>
